*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}


#input{
  display: block;
  height: 250px;
  width: 80%;
  min-width: 280px;
  margin: 20px auto;
  padding: 8px 10px;
  outline: none;
  border: 1px solid black;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#form button{
  outline: none;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  background: black;
  color: white;
  cursor: pointer;
}

table{
  border-collapse: collapse;
  max-width: 768px;
  width: 100%;
  margin: 20px auto;
}

table td, table th{
  border: 1px solid #ddd;
  padding: 8px;
}

table th{
  padding: 12px 8px;
  text-align: left;
  background: #04AA6D;
  color: white;
}